.about {

    list-style: none;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 120px;
        margin-bottom: 30px;

        background-color: $section-team-background;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $title-text-color;
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: $text-color;
        

        margin-bottom: 30px;
    }
}